// 第一個區塊 熱門食譜
// 手機
.titleImg{
    height: 36px;
}
.recipeTitle{
    font-size: 24px;
    letter-spacing: 8px;
    margin-left: 3px;
}
.py-100-sm-40{
    padding: 40px 0;
}
.speaker{
    height: 15px;
}
.speakerText{
    font-size: 12px;
}
// 區塊2
.questionTitle{
    font-size: 20px;
}
.questions{
    font-size: 14px;
}
.py-100-sm-60{
    padding: 60px 0;
}
.fixedTitle{
    font-size: 20px;
}
.pt-100-sm-40{
    padding-top: 40px;
}
.contentTitle{
    font-size: 20px;
}
// 電腦
@include media-breakpoint-up(lg) {
    .titleImg{
        height: 64px;
    }
    .recipeTitle{
        font-size: 40px;
        letter-spacing: 20px;
        margin-left: -3px;
    
    }
    .py-100-sm-40{
        padding: 100px 0;
    }
    .speaker{
        height: 30px;
    }
    .speakerText{
        font-size: 16px;
    }
    // 區塊2
    .questionTitle{
        font-size: 40px;
    }
    .questions{
        font-size: 20px;
    }
    .py-100-sm-60{
        padding: 100px;
    }
    // 區塊3
    .fixedTitle{
        font-size: 32px;
    }
    .pt-100-sm-40{
        padding-top: 100px;
    }
    .contentTitle{
        font-size: 24px;
    }
}